<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="icon" href="favicon.ico" th:href="@{/favicon.ico}" type="image/ico">
  <title>电影列表 - 后台管理系统</title>
<link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link href="css/materialdesignicons.min.css" rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}">
<link href="css/style.min.css" rel="stylesheet" th:href="@{/css/style.min.css}">
</head>

<body data-theme="default" data-sidebarbg="color_8" data-headerbg="default" data-logobg="color_8">
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
<div th:insert="~{NavHead :: #copy-nav}"></div>
<div th:insert="~{NavHead :: #copy-head}"></div>
    <!--页面主要内容-->
    <main class="lyear-layout-content">

      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-toolbar clearfix">
                <form class="pull-right search-bar" method="post" th:action="@{'/admin/searchmovies/' + ${token}}"  role="form">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <input type="hidden" name="search_field" id="search-field" value="title">
                      <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                      电影名 <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="title">电影名</a> </li>
<!--                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="cat_name">栏目</a> </li>-->
                      </ul>
                    </div>
                    <input type="text" class="form-control" value="" name="keyword" placeholder="请输入名称">
                  </div>
                </form>
                <div class="toolbar-btn-action">
                  <a class="btn btn-primary m-r-5" href="add_movie.html" th:href="@{'/admin/addmovie/' + ${token}}"><i class="mdi mdi-plus"></i> 新增</a>
                  <a class="btn btn-danger" href="javascript:delmore('你确定删除这些电影吗?','myform');" ><i class="mdi mdi-window-close"></i> 删除</a>
                </div>
              </div>
              <form action="/admin/delmovies" th:action="@{'/admin/delmovies' + '/' + ${token} + '?page=' + ${pageNow}}" id="myform" method="post">
              <div class="card-body">

                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          <label class="lyear-checkbox checkbox-primary">
                            <input type="checkbox" id="check-all"><span></span>
                          </label>
                        </th>
                        <th>电影ID</th>
                        <th>电影名</th>
                        <th>导演</th>
                        <th>主演</th>
                        <th>地区</th>
                        <th>发行日期</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="movie : ${movieList}">
                        <td >
                          <label class="lyear-checkbox checkbox-primary">
                            <input type="checkbox" name="ids[]" th:value="${movie.id}" ><span></span>
                          </label>
                        </td>
                        <td th:text="${movie.id}"></td>
                        <td th:text="${movie.name}"></td>
                        <td th:text="${movie.directors}"></td>
                        <td th:text="${movie.actors}"></td>
                        <td th:text="${movie.country}"></td>
                        <td th:text="${movie.date}"></td>
                        <td>
                          <div class="btn-group">
                            <a class="btn btn-xs btn-default" href="#!" th:href="@{'/admin/updatemovie/' + ${token} + '?id=' + ${movie.id} + '&page=' + ${pageNow}}" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                            <a class="btn btn-xs btn-default" href="#!" th:href="@{'/admin/delmovie/' + ${token} + '?id=' + ${movie.id} + '&page=' + ${pageNow}}" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- 分页 -->
                <ul class="pagination">
                  <li th:text="'共' + ${movieNums} + '条记录,当前' + ${pageNow} + '/' + ${pages} + '页'"></li>
                  <li th:class="${pageNow eq 1 ? 'disabled': ' '}"><a th:href="@{'/admin/movielist/1/' + ${token}}"><span>«</span></a></li>
                  <li><a th:href="@{'/admin/movielist/' + ${prePage} + '/' + ${token}}">上一页</a></li>
                  <li><a th:href="@{'/admin/movielist/' + ${nextPage} + '/' + ${token}}">下一页</a></li>
                  <li th:class="${pageNow eq pages ? 'disabled': ' '}"><a th:href="@{'/admin/movielist/' + ${pages} + '/' + ${token}}">»</a></li>
                </ul>

              </div>
              </form>
              </div>

          </div>

        </div>

      </div>

    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js" th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" src="js/main.min.js" th:src="@{/js/main.min.js}"></script>
<script type="text/javascript">
$(function(){
    $('.search-bar .dropdown-menu a').click(function() {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
});



function delmore(mess,formid){
  if(confirm(mess)){
    var form = document.getElementById(formid);
    form.submit();

  }
}
</script>
</body>
</html>
