<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="icon" href="favicon.ico" th:href="@{/favicon.ico}" type="image/ico">
<link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link href="css/materialdesignicons.min.css" rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}">
<link href="css/style.min.css" rel="stylesheet" th:href="@{/css/style.min.css}">
</head>

<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <aside class="lyear-layout-sidebar" id="copy-nav">

      <!-- logo -->
      <div id="logo" class="sidebar-header">
        <h1 align="center" style="line-height:70px ; color:white ; font-size:20px">边缘节点管理系统</h1>
      </div>
      <div class="lyear-layout-sidebar-scroll">

        <nav class="sidebar-main">
          <ul class="nav nav-drawer">
            <li class="nav-item"> <a href="users.html" th:href="@{/}"><i class="mdi mdi-sitemap"></i> 节点监控</a> </li>
            <li class="nav-item"> <a href="users.html" th:href="@{/imageslist/}"><i class="mdi mdi-format-align-justify"></i> 镜像管理</a> </li>
            <li class="nav-item"> <a href="Nav.html" th:href="@{/ctnlist/}"><i class="mdi mdi-format-align-justify"></i> 容器管理</a> </li>
          </ul>
        </nav>

      </div>

    </aside>
    <!--End 左侧导航-->

  </div>
</div>

<script type="text/javascript" src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js" th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" src="js/main.min.js" th:src="@{/js/main.min.js}"></script>
<script type="text/javascript">
$(function(){
    $('.search-bar .dropdown-menu a').click(function() {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
});



function delmore(mess,formid){
  if(confirm(mess)){
    var form = document.getElementById(formid);
    form.submit();

  }
}
</script>
</body>
</html>
